html{
    background-color: black;
}
p {
    font-size: 1.25em;
}
figcaption, label, input, small {
    font-size: 1em;
}
nav a {
    font-size: 1.5em;
}
h1 {
    font-size: 3em;
    color: #007d7b;
}
h2 {
    font-size: 2em;
    color: #ffffff;
}